@import "bootstrap";

@footerHeight: 70px;

@tod: `new Date().getHours()`;

.bgCol() when (@tod > 12) {
	background-color: gray;
}
.bgCol() when (@tod < 12) {
	background-color: yellow;
}


body {
  background-color: rgb(160, 209, 224)
}

a {
  color: #00B7FF;
}

.ground {
  background-color: rgb(112, 71, 19);
  border-top: 10px solid rgb(30, 138, 25);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: @footerHeight;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footerHeight;
}